body {
    text-align: center;
    background: #ffffff;
}
table {
    background: #ffffff;
    border:  #d8d8d8;
    margin: auto;
    text-align: center;
    width: 90%;
    height: 20%;
}
#paketfree {
    background: #087800;;
}
#font1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}

